body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choiceBtn, #resetBtn {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.choiceBtn:hover, .resetBtn:hover {
  background-color: #2980b9;
}

.gameDiv {
  margin-top: 20px;
  text-align: center;
}

.gameText {
  margin: 5px;
}

#finalResultText {
  font-weight: bold;
  color: #34495e;
}

#resultText {
  color: #7f8c8d;
}


  